<div class="row">
  <div class="col-12 col-md-2 offset-md-1 mt-3">
    <button [class.btn-success]="editable" (click)="switchEditable()" class="btn">
      editable
    </button>
  </div>
  <div class="col-12 col-md-3 mt-3">
    <input [(ngModel)]="phrase" type="text" class="form-control">
  </div>
  <div class="col-12 col-md-3 mt-3">
    <select [(ngModel)]="filterKey" class="form-control">
      <option value="">choose a key</option>
      <option *ngFor="let col of cols" [value]="col.key">
        {{ col.label }}
      </option>
    </select>
  </div>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th *ngFor="let col of cols">{{ col.label }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | filter:phrase:filterKey">
      <td *ngFor="let col of cols">
        <div [ngSwitch]="col.type">
          <span *ngSwitchCase="'plain'">{{ user[col.key] }}</span>
          <input [(ngModel)]="user[col.key]" *ngSwitchCase="'text'" type="text" class="form-control">
          <input [(ngModel)]="user[col.key]" *ngSwitchCase="'email'" type="email" class="form-control">
        </div>
      </td>
      <td>
        <div *ngIf="editable" class="btn-group">
          <button class="btn btn-info">edit</button>
          <button class="btn btn-danger">delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
