<div class="row">
  <div class="col-12 mt-3">
    <a routerLink="/users/create" class="btn btn-success btn-block">
      create
    </a>
  </div>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th *ngFor="let col of cols">{{ col.label }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of list$ | async">
      <td *ngFor="let col of cols">
        <div [ngSwitch]="col.type">
          <span *ngSwitchCase="'plain'">{{ user[col.key] }}</span>
          <input [(ngModel)]="user[col.key]" *ngSwitchCase="'text'" type="text" class="form-control">
          <input [(ngModel)]="user[col.key]" *ngSwitchCase="'email'" type="email" class="form-control">
        </div>
      </td>
      <td>
        <div class="btn-group">
          <a [routerLink]="'/users/edit/'+user.id" class="btn btn-info">edit</a>
          <button (click)="onDelete(user)" class="btn btn-danger">delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
